<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.coti.contregastohinode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NovoProduto" />
        <activity android:name=".ListarProduto" />
        <activity android:name=".NovaVenda" />
        <activity android:name=".VerVendas" />
        <activity android:name=".DetalhesProduto"></activity>
    </application>

</manifest>
